@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300;400;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Variables */
:root {
  --app-grey-dark: #333333;
  --app-grey-medium: #4d4d4d;
  --app-grey-light: #989898;
  --app-grey-lighter: #e8e8e8;
  --app-red: #e60012;
  --app-salmon: #ff4554;
  --app-blue-light: #00c3e3;
  --app-blue-primary: #639bff;
}

#root {
  height: 100vh;
}

body {
  margin: 0;
  font-family: 'Noto Sans JP', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: white;
  background-color: var(--app-grey-dark);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
